## Sumarizing and Calculating Descriptive Statistics

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
r1 = [1.4, np.nan]
r2 = [7.1, -4.5]    # all floating point values
r3 = [np.nan, np.nan]
r4 = [0.75, -1.3]
i  = ['a', 'b', 'c', 'd'] # all string value
h  = ['one', 'two'] # strings

# use them to make a DF
df = pd.DataFrame([r1, r2, r3, r4], index=i, columns=h)
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
# descriptive dtatistics - actionable values
df.sum() # default to columns
df.sum(axis=1) # add the rows
# also for max, min, count, mean etc

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [18]:
# by default 'mean' will skip (ignore) NaN members
df.mean(axis=1, skipna=False)
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [19]:
df.count(axis=1)
df.idxmax() # the iondex containing the max value for each column

one    b
two    d
dtype: object

In [26]:
# handling statistical outliers
# genuine data collected from real world is noisy
# we can expect errors (outliers, spikes etc.)
print(df)
df.cumsum(axis=1) # also cummax, cummin etc.

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

    one   two
a  1.40   NaN
b  7.10  2.60
c   NaN   NaN
d  0.75 -0.55

In [29]:
#we have info and describe
df.describe()
df.std(axis=1)

a         NaN
b    8.202439
c         NaN
d    1.449569
dtype: float64