### Databases and Python

In [1]:
# Python comes with a database built in. It is called sqlite3
import sqlite3

#### Create a database with one table

In [7]:
# here we tell Python to either create or use a database
# NB we only need ot run this ONCE to make the table
conn = sqlite3.connect('mydb')
curs = conn.cursor() # the cursor lets us access members of the database
# we need an SQL statement
st = '''
CREATE TABLE zoo
(
    creature VARCHAR(32) PRIMARY KEY,
    count INT,
    cost FLOAT
)
'''
curs.execute(st)
conn.commit() # commit all changes
conn.close() # tidy up

#### Populate the DB table with data

In [8]:
conn = sqlite3.connect('mydb')
curs = conn.cursor()
st = '''
INSERT INTO zoo
VALUES ("Penguin", 16, 0.62)
'''
curs.execute(st)
conn.commit()
conn.close()

#### Read back from the database table

In [14]:
conn = sqlite3.connect('mydb')
curs = conn.cursor()
st = '''
SELECT creature, count, cost FROM zoo
'''
curs.execute(st)
# we can get the results of this
rows = curs.fetchall() # this gets the results of our executed statement
conn.commit()
conn.close()
rows

[('Penguin', 16, 0.62),
 ('Albatros', 1, 120.99),
 ('Bear', 5, 323.56),
 ('Carp', 120, 87.0),
 ('Deer', 121, 12.99),
 ('Elk', 7, 73.47)]

#### Update values in the database

In [13]:
# First we will add a load more creatures (here is a Python list of dictionaries)
creatures = [ # normally this comes from JSON or API, DataFrame etc.
    {'creature':'Albatros', 'count':1,      'cost':120.99},
    {'creature':'Bear',     'count':5,      'cost':323.56},
    {'creature':'Carp',     'count':120,    'cost':87.00},
    {'creature':'Deer',     'count':121,    'cost':12.99},
    {'creature':'Elk',      'count':7,      'cost':73.47},
]

# prepare our database access
conn = sqlite3.connect('mydb')
curs = conn.cursor()
st   = '''
INSERT INTO zoo
VALUES (?, ?, ?)
'''
# CAREFUL - only run this ONCE to populate the database

# we can loop over this data (iteration)
for item in creatures:
    # commit each creature to the database
    # print(item['creature'])
    cr  = item['creature']
    qty = item['count']
    co  = item['cost']
    curs.execute(st, (cr, qty, co))
    conn.commit()
conn.close() # tidy up